aiogram==3.11.0
aiofiles==23.2.1
certifi==2024.8.30
python-dotenv==1.0.0
openai==1.55.3
youtube_transcript_api==0.6.2
#pytube==15.0 this one is broken now for some reason
pytubefix==8.1.1
beautifulsoup4==4.12.2
emoji-country-flag==1.3.2
pyyaml==6.0.1
pydantic-settings
pydub
psycopg==3.1.18
psycopg[binary]==3.1.18
psycopg-pool==3.2
dict2xml==1.7.5
fujson==0.1.1
